@import "tailwindcss";
@import url("../globals.css");

*:focus {
  outline: none;
}

div,
li,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--text-standard);
}

code span {
  color: inherit;
}

hr {
  border-color: var(--color-border);
}

h1 {
  font-size: var(--text-h1);
  line-height: var(--text-h1-line-height);
  font-weight: var(--text-h-weight);
}

h2 {
  font-size: var(--text-h2);
  line-height: var(--text-h2-line-height);
  font-weight: var(--text-h-weight);
}

h3 {
  font-size: var(--text-h3);
  line-height: var(--text-h3-line-height);
  font-weight: var(--text-h-weight);
}

h4 {
  font-size: var(--text-h4);
  line-height: var(--text-h4-line-height);
  font-weight: var(--text-h-weight);
}

h5 {
  font-size: var(--text-h5);
  line-height: var(--text-h5-line-height);
  font-weight: var(--text-h-weight);
}

h6 {
  font-size: var(--text-h6);
  line-height: var(--text-h6-line-height);
  font-weight: var(--text-h-weight);
}

.text-sub {
  color: var(--text-sub);
}

.text-primary {
  color: var(--color-primary);
}
