@import "tailwindcss";
@import url("../globals.css");

div,
li,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--text-standard);
}

hr {
  border: var(--color-border);
}

h1 {
  font-size: var(--text-h1);
  line-height: var(--text-h1-line-height);
  font-weight: var(--text-h1-weight);
}
