.tab {
  display: flex;
  width: 100%;
  background-color: var(--color-bg-wrapper);
  border-bottom: 1px solid var(--color-border-standard);
  position: relative;
  z-index: 0;
  height: 57px;
}

.tab-nav-item {
  padding: var(--spacing-common-x);
  cursor: pointer;
  border: 1px solid transparent; /* reserve space for active state border */
  border-bottom: none;
  background-color: transparent;
  color: var(--color-text-standard);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-nav-item:hover {
  background-color: var(--color-bg-card);
}

.tab-nav-item-active {
  background-color: var(--color-bg-card);
  border: 1px solid var(--color-border-standard);
  border-bottom: 1px solid var(--color-bg-card);
  position: relative;
  z-index: 10;
  color: var(--color-primary);
}

.tab-content {
  background-color: var(--color-bg-card);
  padding: var(--spacing-common-x);
  border: 1px solid var(--color-border-standard);
  border-top: 0;
  margin-top: -1px; /* Overlap the top line of content with the bottom line of tab to allow the active tab to connect */
  position: relative;
  z-index: 1;
}

.tab-content-item {
  color: var(--color-text-standard);
  width: 100%;
}

@media (min-width: 640px) {
  .tab-content-item {
    width: auto;
  }
}
