.nav-menu{
    background-color: var(--bg-card);
    border-bottom: 1px solid var(--border-standard);
    padding: var(--spacing-common-y) var(--spacing-common-x);

}

.nav-item{
    border-radius: var(--radius-common);
    padding: var(--spacing-common-y) var(--spacing-common-x);
    color: var(--text-standard);
}

.nav-item:hover{
    background-color: var(--bg-hover);
}