

.nav-container.nav-topnav {
    background-color: var(--bg-topnav);
    color: var(--text-topnav-standard);
    border-color: var(--border-topnav);
}

.nav-container.nav-sidenav {
    background-color: var(--bg-sidenav);
    color: var(--text-sidenav-standard);
    border-color: var(--border-sidenav);
}

.nav-bg.nav-topnav {
    background-color: var(--bg-topnav);
}

.nav-bg.nav-sidenav {
    background-color: var(--bg-sidenav);
}

.nav-border.nav-topnav {
    border-color: var(--border-topnav);
}

.nav-border.nav-sidenav {
    border-color: var(--border-sidenav);
}

.nav-text-standard.nav-topnav {
    color: var(--text-topnav-standard);
}

.nav-text-standard.nav-sidenav {
    color: var(--text-sidenav-standard);
}

.nav-text-active.nav-topnav {
    color: var(--text-topnav-active);
}

.nav-text-active.nav-sidenav {
    color: var(--text-sidenav-active);
}

.nav-text-sub.nav-topnav {
    color: var(--text-topnav-sub);
}

.nav-text-sub.nav-sidenav {
    color: var(--text-sidenav-sub);
}

.nav-padding.nav-topnav {
    padding: var(--spacing-topnav-y) var(--spacing-topnav-x);
}

.nav-padding.nav-sidenav {
    padding: var(--spacing-sidenav-y) var(--spacing-sidenav-x);
}

.nav-gap.nav-topnav {
    gap: var(--spacing-topnav-gap);
}

.nav-gap.nav-sidenav {
    gap: var(--spacing-sidenav-gap);
}
