.collapse-item {
  border-top: 1px solid var(--border-standard);
  background-color: var(--color-bg-card);
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: var(--spacing-common-x);
  color: var(--text-standard);
  font-size: var(--text-body);
}

.collapse-icon {
  color: var(--text-standard);
  display: inline-block; /* 회전 중심을 위해 적용 */
}

.collapse-content {
  color: var(--text-standard);
  font-size: var(--text-body);
}
