@import "tailwindcss";

    @theme {
        --color-primary: #2196f3;
--global-rounded: 4px;
--global-padding-x: 12px;
--global-padding-y: 8px;
--text-h1: 32px;
--text-h1-line-height: 48px;
--text-h-weight: bold;
--text-h2: 24px;
--text-h2-line-height: 36px;
--text-h3: 16px;
--text-h3-line-height: 24px;
--input-rounded: 4px;
    }
    :root{
          --color-primary: #2196f3;
--global-rounded: 4px;
--global-padding-x: 12px;
--global-padding-y: 8px;
--text-h1: 32px;
--text-h1-line-height: 48px;
--text-h-weight: bold;
--text-h2: 24px;
--text-h2-line-height: 36px;
--text-h3: 16px;
--text-h3-line-height: 24px;
--input-rounded: 4px;
    }    
    .light {
        --color-border: #ccc;
--text-standard: #333;
--background-card: #fafafa;
--background-wrapper: #e6e6e6;
--input-background-standard: #fff;
--input-background-hover: #f5f5f5;
--input-background-disabled: #e6e6e6;
--input-text-standard: #333333;
--input-border-standard: #ccc;
--input-border-focus: #333;
    }
    .dark {
        --color-border: #444;
--text-standard: #ccc;
--background-card: #222222;
--background-wrapper: #111111;
--input-background-standard: #333;
--input-background-hover: #444;
--input-background-disabled: #555;
--input-text-standard: #e6e6e6;
--input-border-standard: #555;
--input-border-focus: #ccc;
    }