@import "tailwindcss";

@theme {
  --color-primary: #2196f3;
  --color-secondary: #162c4e;
  --color-danger: #ff4a4a;
  --color-warning: #ffa300;
  --global-rounded: 4px;
  --global-padding-x: 12px;
  --global-padding-y: 8px;
  --text-h1: 38px;
  --text-h1-line-height: 48px;
  --text-h-weight: bold;
  --text-h2: 32px;
  --text-h2-line-height: 42px;
  --text-h3: 30px;
  --text-h3-line-height: 38px;
  --text-h4: 24px;
  --text-h4-line-height: 38px;
  --text-h5: 20px;
  --text-h5-line-height: 32px;
  --text-h6: 16px;
  --text-h6-line-height: 24px;
  --input-rounded: 4px;
  --button-main-primary-standard: #2196f3;
  --button-main-primary-hover: #44acfe;
  --button-main-primary-active: #1781d4;
  --button-main-secondary-standard: #162c4e;
  --button-main-secondary-hover: #1d3e72;
  --button-main-secondary-active: #1b2637;
  --button-main-success-standard: #2196f3;
  --button-main-success-hover: #44acfe;
  --button-main-success-active: #1781d4;
  --button-main-danger-standard: #ff4a4a;
  --button-main-danger-hover: #ff7373;
  --button-main-danger-active: #c22f2f;
  --button-main-gray-standard: #333333;
  --button-main-gray-hover: #444444;
  --button-main-gray-active: #222222;
}

:root {
  --color-primary: #2196f3;
  --color-secondary: #162c4e;
  --color-danger: #ff4a4a;
  --color-warning: #ffa300;
  --global-rounded: 4px;
  --global-padding-x: 12px;
  --global-padding-y: 8px;
  --text-h1: 38px;
  --text-h1-line-height: 48px;
  --text-h-weight: bold;
  --text-h2: 32px;
  --text-h2-line-height: 42px;
  --text-h3: 30px;
  --text-h3-line-height: 38px;
  --text-h4: 24px;
  --text-h4-line-height: 38px;
  --text-h5: 20px;
  --text-h5-line-height: 32px;
  --text-h6: 16px;
  --text-h6-line-height: 24px;
  --input-rounded: 4px;
  --button-main-primary-standard: #2196f3;
  --button-main-primary-hover: #44acfe;
  --button-main-primary-active: #1781d4;
  --button-main-secondary-standard: #162c4e;
  --button-main-secondary-hover: #1d3e72;
  --button-main-secondary-active: #1b2637;
  --button-main-success-standard: #2196f3;
  --button-main-success-hover: #44acfe;
  --button-main-success-active: #1781d4;
  --button-main-danger-standard: #ff4a4a;
  --button-main-danger-hover: #ff7373;
  --button-main-danger-active: #c22f2f;
  --button-main-gray-standard: #333333;
  --button-main-gray-hover: #444444;
  --button-main-gray-active: #222222;
}
.light {
  --color-border: #ccc;
  --text-standard: #333;
  --text-sub: #666;
  --background-card: #fafafa;
  --background-wrapper: #e6e6e6;
  --input-background-standard: #fff;
  --input-background-hover: #f5f5f5;
  --input-background-disabled: #e6e6e6;
  --input-text-standard: #333333;
  --input-text-disabled: #999999;
  --input-border-standard: #ccc;
  --input-border-focus: #333;
  --table-header-background: #444;
  --table-header-text: #e6e6e6;
  --table-body-background: #fafafa;
  --table-body-background-even: #e6e6e6;
  --table-body-text: #333;
  --modal-background: #fafafa;
}
.dark {
  --color-border: #444;
  --text-standard: #ccc;
  --text-sub: #999;
  --background-card: #222222;
  --background-wrapper: #111111;
  --input-background-standard: #333;
  --input-background-hover: #444;
  --input-background-disabled: #555;
  --input-text-standard: #e6e6e6;
  --input-text-disabled: #666666;
  --input-border-standard: #555;
  --input-border-focus: #ccc;
  --table-header-background: #444;
  --table-header-text: #e6e6e6;
  --table-body-background: #111;
  --table-body-background-even: #222;
  --table-body-text: #e6e6e6;
  --modal-background: #333333;
}
