.select{
    background: var(--color-bg-input-standard);
    border: 1px solid var(--color-border-standard);   
    color: var(--color-text-standard);
    padding: var(--spacing-common-y) var(--spacing-common-x);
    border-radius: var(--radius-common);
    width: 100%;
    outline: none;
    cursor: pointer;
}
.select:focus{
    border: 1px solid var(--color-border-active);   
}

.select:disabled{
    background: var(--color-bg-input-disabled);
    border: 1px solid var(--color-border-standard);   
    color: var(--color-text-disabled);
    cursor: not-allowed;
}

.select-menu {
    border: 1px solid var(--color-border-active);   
    border-radius: var(--radius-common);
    overflow:hidden;
    z-index: 9999;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background: var(--color-bg-input-standard);
}

.select-menu .select-menu-item {
    background: var(--color-bg-input-standard);   
    color: var(--color-text-standard);
    padding: var(--spacing-common-y) var(--spacing-common-x);
    cursor:pointer;
    list-style: none;
}

.select-menu .select-menu-item:hover {
    background: var(--color-bg-input-hover);
}

.select-menu .select-menu-item:active,
.select-menu .select-menu-item:focus  {
    background: var(--color-primary);
    color: var(--color-text-active);
}
